<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Auth with bcrypt</title>
  </head>
  <body>
    
    <h2>Forgot your password?</h2> 
    <p>Please enter your email and you will receive a link to reset your password</p>
    <form action="/forgot" method="post">
        <div>
            <label>Email:</label>
            <input type="text" name="email"/>
        </div>
        <div>
            <input type="submit" value="Send E-mail"/>
        </div>
    </form>
    
  </body>
</html>
