<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Reset Password</title>
  </head>
  <body>
    
    <p>Please enter your email and new password for your account</p>
    <form action="/resetPassword" method="post">
        <div>
            <label>Email:</label>
            <input type="text" name="email"/>
        </div>        
        <div>
            <label>New Password:</label>
            <input type="password" name="password"/>
        </div>
        <div>
            <input type="submit" value="Reset Password"/>
        </div>
    </form>
    
  </body>
</html>
